body {
    background: #fffcfd;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: #444;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 220px;

    min-height: 120px;

    background: white;

    border-radius: 25px;

    padding: 20px;

    text-align: center;

    transition: 0.35s;

    border: 3px solid #ffd4e7;

    position: relative;

    overflow: hidden;
}

.card:hover {
    background: #ffe6f1;

    box-shadow: 0 0 25px #ff9ccc;

    transform: translateY(-5px) scale(1.03);
}

.word {
    font-size: 34px;

    font-weight: bold;

    color: #333;

    margin-top: 10px;
}

/* ПЕРЕВОД СКРЫТ */

.translation {
    opacity: 0;

    max-height: 0;

    overflow: hidden;

    transition: 0.3s;

    font-size: 20px;

    color: #555;

    margin-top: 10px;
}

/* ПЕРЕВОД ПОЯВЛЯЕТСЯ ПРИ НАВЕДЕНИИ */

.card:hover .translation {
    opacity: 1;

    max-height: 100px;
}

/* СПРЯЖЕНИЯ СКРЫТЫ */

.grammar-box {
    opacity: 0;

    max-height: 0;

    overflow: hidden;

    transition: 0.35s;

    background: #ffd9ea;

    border-radius: 15px;

    margin-top: 15px;

    padding: 0 10px;

    text-align: left;

    font-size: 15px;

    color: #444;
}

/* СПРЯЖЕНИЯ ПОЯВЛЯЮТСЯ */

.card:hover .grammar-box {
    opacity: 1;

    max-height: 300px;

    padding: 12px;
}